<!--@NO-WRAP-->
<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"><meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>无权限</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/themes.css">
	<link rel="shortcut icon" href="{$Icon}" />
</head>

<body class='error'>
	<div class="wrapper" style="width: 400px;">
		<div style="color:#fff;font-size:2rem;margin:0 20%;">
			<i class="icon-github-alt"></i>
			<span>暂无权限</span>
		</div>
		<div class="desc" style="margin:8% 20%;">很抱歉的告诉您：<br/>您没有权限使用此功能。</div>
	</div>
</body>
</html>
